div {
    background-color: rgb(16, 16, 80);
    height: 60px;
}

* {
    margin: 0;
    padding: 0;
}

li {
    color: azure;
    margin: 10px;
list-style: none;
float: left;
}
i {
    color: azure;
    float: right;
}